# defaults setting
uuid=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
vmname=my_vmname
xenserver=my_xenserver_hostname
xe_user=root
xe_password=my_xenserver_password
vm_backup_base_dir=/path/to/vm_backup
vm_backup_dir=
compression=true #true/false
vm_backup_rotation_count=5
email_log=0
email_server=localhost
email_server_port=25
email_delay_interval=1
email_to=hoge-to@example.co.jp
email_from=hoge-from@example.co.jp
email_xmailer=xenserver-hotbackup
worddir=
logger=true
debug=true
